body {
	background-color: lightblue;
	font-family: "Opens Sans", sans-serif;
	max-width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.page-header{
	color: white;
	background-color: darkblue;
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 
}

.banner{ 
	color: #c20017;
	font-size: 16px;	
	border-top: 8px solid black;
	border-bottom: 1px;
	padding: 20px 20px 20px 20px 
	text-align: 20px;
	font-style: italic;
	font-variant: small-caps; 
}
	
	

.story{
 color: black;
 background-color: blue;
 font-size: 16px;
}
 
img{
	width: 100%;
}

h2 {
	color: #003366;
}

}

.page-footer{
color: white;
background-color: #003366;
font-size 14px;
}

ul{
	list-style: none;
	font-weight: bold;
}